In [1]:
import pandas as pd

In [3]:
! dir

 Volume in drive C is Win
 Volume Serial Number is EC9E-53D7

 Directory of C:\Users\ivano\Documents\Projects

09/04/2019  10:15 AM    <DIR>          .
09/04/2019  10:15 AM    <DIR>          ..
09/04/2019  10:15 AM               713  Week1.ipynb
09/04/2019  10:10 AM    <DIR>          .ipynb_checkpoints
09/04/2019  09:53 AM    <DIR>          class_notebooks
09/04/2019  09:53 AM    <DIR>          data
09/04/2019  09:53 AM    <DIR>          slides
09/04/2019  10:09 AM                72 Untitled.ipynb
09/04/2019  09:57 AM    <DIR>          vanderbilt-data-essentials-cohort-2
               2 File(s)            785 bytes
               7 Dir(s)  28,531,904,512 bytes free

In [11]:
HA = pd.read_csv('vanderbilt-data-essentials-cohort-2/data/mmd_heart_attack_data.csv')

In [12]:
HA.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [13]:
HA.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
5     2017    County  Average total cost  Unsmoothed actual  Base measure
6     2017    County  Average total cost  Unsmoothed actual  Base measure
7     2017    County  Average total cost  Unsmoothed actual  Base measure
8     2017    County  Average total cost  Unsmoothed actual  Base measure
9     2017    County  Average total cost  Unsmoothed actual  Base measure
10    2017    County  Average total cost  Unsmoothed actual  Base measure
11    2017    County  Average total cost  Unsmoothed actual  Base measure
12    2017    County  Average total cost  Unsmoothed actual  Base measure
13    2017    County  Average total cost  Unsmoothed actual  Base measure
14    2017    County  Average total cost  Unsmoothed actual  Base measure
15    2017    County  Average total cost  Unsmoothed actual  Base measure
16    2017    County  Average total cost  Unsmoothed actual  Base measure
17    2017    County  Average total cost  Unsmoothed actual  Base measure
18    2017    County  Average total cost  Unsmoothed actual  Base measure
19    2017    County  Average total cost  Unsmoothed actual  Base measure
20    2017    County  Average total cost  Unsmoothed actual  Base measure
21    2017    County  Average total cost  Unsmoothed actual  Base measure
22    2017    County  Average total cost  Unsmoothed actual  Base measure
23    2017    County  Average total cost  Unsmoothed actual  Base measure
24    2017    County  Average total cost  Unsmoothed actual  Base measure
25    2017    County  Average total cost  Unsmoothed actual  Base measure
26    2017    County  Average total cost  Unsmoothed actual  Base measure
27    2017    County  Average total cost  Unsmoothed actual  Base measure
28    2017    County  Average total cost  Unsmoothed actual  Base measure
29    2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2626  2017    County  Average total cost  Unsmoothed actual  Base measure
2627  2017    County  Average total cost  Unsmoothed actual  Base measure
2628  2017    County  Average total cost  Unsmoothed actual  Base measure
2629  2017    County  Average total cost  Unsmoothed actual  Base measure
2630  2017    County  Average total cost  Unsmoothed actual  Base measure
2631  2017    County  Average total cost  Unsmoothed actual  Base measure
2632  2017    County  Average total cost  Unsmoothed actual  Base measure
2633  2017    County  Average total cost  Unsmoothed actual  Base measure
2634  2017    County  Average total cost  Unsmoothed actual  Base measure
2635  2017    County  Average total cost  Unsmoothed actual  Base measure
2636  2017    County  Average total cost  Unsmoothed actual  Base measure
2637  2017    County  Average total cost  Unsmoothed actual  Base measure
2638  2017    County  Average total cost  Unsmoothed actual  Base measure
2639  2017    County  Average total cost  Unsmoothed actual  Base measure
2640  2017    County  Average total cost  Unsmoothed actual  Base measure
2641  2017    County  Average total cost  Unsmoothed actual  Base measure
2642  2017    County  Average total cost  Unsmoothed actual  Base measure
2643  2017    County  Average total cost  Unsmoothed actual  Base measure
2644  2017    County  Average total cost  Unsmoothed actual  Base measure
2645  2017    County  Average total cost  Unsmoothed actual  Base measure
2646  2017    County  Average total cost  Unsmoothed actual  Base measure
2647  2017    County  Average total cost  Unsmoothed actual  Base measure
2648  2017    County  Average total cost  Unsmoothed actual  Base measure
2649  2017    County  Average total cost  Unsmoothed actual  Base measure
2650  2017    County  Average total cost  Unsmoothed actual  Base measure
2651  2017    County  Average total cost  Unsmoothed actual  Base measure
2652  2017    County  Average total cost  Unsmoothed actual  Base measure
2653  2017    County  Average total cost  Unsmoothed actual  Base measure
2654  2017    County  Average total cost  Unsmoothed actual  Base measure
2655  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
0     Primary chronic conditions  Acute myocardial infarction         All
1     Primary chronic conditions  Acute myocardial infarction         All
2     Primary chronic conditions  Acute myocardial infarction         All
3     Primary chronic conditions  Acute myocardial infarction         All
4     Primary chronic conditions  Acute myocardial infarction         All
5     Primary chronic conditions  Acute myocardial infarction         All
6     Primary chronic conditions  Acute myocardial infarction         All
7     Primary chronic conditions  Acute myocardial infarction         All
8     Primary chronic conditions  Acute myocardial infarction         All
9     Primary chronic conditions  Acute myocardial infarction         All
10    Primary chronic conditions  Acute myocardial infarction         All
11    Primary chronic conditions  Acute myocardial infarction         All
12    Primary chronic conditions  Acute myocardial infarction         All
13    Primary chronic conditions  Acute myocardial infarction         All
14    Primary chronic conditions  Acute myocardial infarction         All
15    Primary chronic conditions  Acute myocardial infarction         All
16    Primary chronic conditions  Acute myocardial infarction         All
17    Primary chronic conditions  Acute myocardial infarction         All
18    Primary chronic conditions  Acute myocardial infarction         All
19    Primary chronic conditions  Acute myocardial infarction         All
20    Primary chronic conditions  Acute myocardial infarction         All
21    Primary chronic conditions  Acute myocardial infarction         All
22    Primary chronic conditions  Acute myocardial infarction         All
23    Primary chronic conditions  Acute myocardial infarction         All
24    Primary chronic conditions  Acute myocardial infarction         All
25    Primary chronic conditions  Acute myocardial infarction         All
26    Primary chronic conditions  Acute myocardial infarction         All
27    Primary chronic conditions  Acute myocardial infarction         All
28    Primary chronic conditions  Acute myocardial infarction         All
29    Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2626  Primary chronic conditions  Acute myocardial infarction         All
2627  Primary chronic conditions  Acute myocardial infarction         All
2628  Primary chronic conditions  Acute myocardial infarction         All
2629  Primary chronic conditions  Acute myocardial infarction         All
2630  Primary chronic conditions  Acute myocardial infarction         All
2631  Primary chronic conditions  Acute myocardial infarction         All
2632  Primary chronic conditions  Acute myocardial infarction         All
2633  Primary chronic conditions  Acute myocardial infarction         All
2634  Primary chronic conditions  Acute myocardial infarction         All
2635  Primary chronic conditions  Acute myocardial infarction         All
2636  Primary chronic conditions  Acute myocardial infarction         All
2637  Primary chronic conditions  Acute myocardial infarction         All
2638  Primary chronic conditions  Acute myocardial infarction         All
2639  Primary chronic conditions  Acute myocardial infarction         All
2640  Primary chronic conditions  Acute myocardial infarction         All
2641  Primary chronic conditions  Acute myocardial infarction         All
2642  Primary chronic conditions  Acute myocardial infarction         All
2643  Primary chronic conditions  Acute myocardial infarction         All
2644  Primary chronic conditions  Acute myocardial infarction         All
2645  Primary chronic conditions  Acute myocardial infarction         All
2646  Primary chronic conditions  Acute myocardial infarction         All
2647  Primary chronic conditions  Acute myocardial infarction         All
2648  Primary chronic conditions  Acute myocardial infarction         All
2649  Primary chronic conditions  Acute myocardial infarction         All
2650  Primary chronic conditions  Acute myocardial infarction         All
2651  Primary chronic conditions  Acute myocardial infarction         All
2652  Primary chronic conditions  Acute myocardial infarction         All
2653  Primary chronic conditions  Acute myocardial infarction         All
2654  Primary chronic conditions  Acute myocardial infarction         All
2655  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips                   county  \
0            All  Dual & non-dual   1001           Autauga County
1            All  Dual & non-dual   1003           Baldwin County
2            All  Dual & non-dual   1005           Barbour County
3            All  Dual & non-dual   1007              Bibb County
4            All  Dual & non-dual   1009            Blount County
5            All  Dual & non-dual   1013            Butler County
6            All  Dual & non-dual   1015           Calhoun County
7            All  Dual & non-dual   1017          Chambers County
8            All  Dual & non-dual   1019          Cherokee County
9            All  Dual & non-dual   1021           Chilton County
10           All  Dual & non-dual   1023           Choctaw County
11           All  Dual & non-dual   1025            Clarke County
12           All  Dual & non-dual   1027              Clay County
13           All  Dual & non-dual   1029          Cleburne County
14           All  Dual & non-dual   1031            Coffee County
15           All  Dual & non-dual   1033           Colbert County
16           All  Dual & non-dual   1035           Conecuh County
17           All  Dual & non-dual   1037             Coosa County
18           All  Dual & non-dual   1039         Covington County
19           All  Dual & non-dual   1041          Crenshaw County
20           All  Dual & non-dual   1043           Cullman County
21           All  Dual & non-dual   1045              Dale County
22           All  Dual & non-dual   1047            Dallas County
23           All  Dual & non-dual   1049            DeKalb County
24           All  Dual & non-dual   1051            Elmore County
25           All  Dual & non-dual   1053          Escambia County
26           All  Dual & non-dual   1055            Etowah County
27           All  Dual & non-dual   1057           Fayette County
28           All  Dual & non-dual   1059          Franklin County
29           All  Dual & non-dual   1061            Geneva County
...          ...              ...    ...                      ...
2626         All  Dual & non-dual  56001            Albany County
2627         All  Dual & non-dual  56003          Big Horn County
2628         All  Dual & non-dual  56005          Campbell County
2629         All  Dual & non-dual  56007            Carbon County
2630         All  Dual & non-dual  56009          Converse County
2631         All  Dual & non-dual  56013           Fremont County
2632         All  Dual & non-dual  56015            Goshen County
2633         All  Dual & non-dual  56019           Johnson County
2634         All  Dual & non-dual  56021           Laramie County
2635         All  Dual & non-dual  56023           Lincoln County
2636         All  Dual & non-dual  56025           Natrona County
2637         All  Dual & non-dual  56029              Park County
2638         All  Dual & non-dual  56031            Platte County
2639         All  Dual & non-dual  56033          Sheridan County
2640         All  Dual & non-dual  56037        Sweetwater County
2641         All  Dual & non-dual  56039             Teton County
2642         All  Dual & non-dual  56041             Uinta County
2643         All  Dual & non-dual  56043          Washakie County
2644         All  Dual & non-dual  72013        Arecibo Municipio
2645         All  Dual & non-dual  72021        Bayamon Municipio
2646         All  Dual & non-dual  72025         Caguas Municipio
2647         All  Dual & non-dual  72031       Carolina Municipio
2648         All  Dual & non-dual  72033         Catano Municipio
2649         All  Dual & non-dual  72035          Cayey Municipio
2650         All  Dual & non-dual  72061       Guaynabo Municipio
2651         All  Dual & non-dual  72097       Mayaguez Municipio
2652         All  Dual & non-dual  72113          Ponce Municipio
2653         All  Dual & non-dual  72125     San German Municipio
2654         All  Dual & non-dual  72127       San Juan Municipio
2655         All  Dual & non-dual  72139  Trujillo Alto Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           40470
1         ALABAMA  Rural          All           undefined           36615
2         ALABAMA  Rural          All           undefined           46509
3         ALABAMA  Urban          All           undefined           42949
4         ALABAMA  Urban          All           undefined           50067
5         ALABAMA  Rural          All           undefined           49516
6         ALABAMA  Urban          All           undefined           46819
7         ALABAMA  Rural          All           undefined           35022
8         ALABAMA  Rural          All           undefined           45298
9         ALABAMA  Urban          All           undefined           54992
10        ALABAMA  Rural          All           undefined           41084
11        ALABAMA  Rural          All           undefined           41589
12        ALABAMA  Rural          All           undefined           48361
13        ALABAMA  Rural          All           undefined           44305
14        ALABAMA  Rural          All           undefined           45244
15        ALABAMA  Urban          All           undefined           41269
16        ALABAMA  Rural          All           undefined           33843
17        ALABAMA  Rural          All           undefined           58338
18        ALABAMA  Rural          All           undefined           42454
19        ALABAMA  Rural          All           undefined           34674
20        ALABAMA  Rural          All           undefined           42324
21        ALABAMA  Rural          All           undefined           48443
22        ALABAMA  Rural          All           undefined           45739
23        ALABAMA  Rural          All           undefined           44107
24        ALABAMA  Urban          All           undefined           47476
25        ALABAMA  Rural          All           undefined           38137
26        ALABAMA  Urban          All           undefined           54778
27        ALABAMA  Rural          All           undefined           46279
28        ALABAMA  Rural          All           undefined           50988
29        ALABAMA  Urban          All           undefined           47426
...           ...    ...          ...                 ...             ...
2626      WYOMING  Rural          All           undefined           47319
2627      WYOMING  Rural          All           undefined           52570
2628      WYOMING  Rural          All           undefined           66949
2629      WYOMING  Rural          All           undefined           45039
2630      WYOMING  Rural          All           undefined           61711
2631      WYOMING  Rural          All           undefined           49134
2632      WYOMING  Rural          All           undefined           58931
2633      WYOMING  Rural          All           undefined           43793
2634      WYOMING  Urban          All           undefined           53715
2635      WYOMING  Rural          All           undefined           50724
2636      WYOMING  Urban          All           undefined           36263
2637      WYOMING  Rural          All           undefined           64836
2638      WYOMING  Rural          All           undefined           47718
2639      WYOMING  Rural          All           undefined           59314
2640      WYOMING  Rural          All           undefined           57980
2641      WYOMING  Rural          All           undefined           31371
2642      WYOMING  Rural          All           undefined           73571
2643      WYOMING  Rural          All           undefined           75675
2644  PUERTO RICO  Urban          All           undefined           25738
2645  PUERTO RICO  Urban          All           undefined           38074
2646  PUERTO RICO  Urban          All           undefined           40904
2647  PUERTO RICO  Urban          All           undefined           39312
2648  PUERTO RICO  Urban          All           undefined           36725
2649  PUERTO RICO  Urban          All           undefined           39382
2650  PUERTO RICO  Urban          All           undefined           25049
2651  PUERTO RICO  Urban          All           undefined           28128
2652  PUERTO RICO  Urban          All           undefined           26403
2653  PUERTO RICO  Urban          All           undefined           26398
2654  PUERTO RICO  Urban          All           undefined           36599
2655  PUERTO RICO  Urban          All           undefined           26676

[2656 rows x 17 columns]>

In [15]:
HA.columns

Index(['year', 'geography', 'measure', 'adjustment', 'analysis', 'domain',
       'condition', 'primary_sex', 'primary_age', 'primary_dual', 'fips',
       'county', 'state', 'urban', 'primary_race', 'primary_denominator',
       'analysis_value'],
      dtype='object')

In [26]:
HATN = HA.loc[HA.state == "TENNESSEE"]

In [28]:
HATN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 2030 to 2120
Data columns (total 17 columns):
year                   91 non-null int64
geography              91 non-null object
measure                91 non-null object
adjustment             91 non-null object
analysis               91 non-null object
domain                 91 non-null object
condition              91 non-null object
primary_sex            91 non-null object
primary_age            91 non-null object
primary_dual           91 non-null object
fips                   91 non-null int64
county                 91 non-null object
state                  91 non-null object
urban                  91 non-null object
primary_race           91 non-null object
primary_denominator    91 non-null object
analysis_value         91 non-null int64
dtypes: int64(3), object(14)
memory usage: 12.8+ KB

In [31]:
HATN.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2116,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,40652
2117,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,55139
2118,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,40717
2119,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,61541
2120,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,52387

In [32]:
HATN.county.unique ()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Morgan County',
       'Obion County', 'Overton County', 'Perry County', 'Polk County',
       'Putnam County', 'Rhea County', 'Roane County', 'Robertson County',
       'Rutherford County', 'Scott County', 'Sequatchie County',
       'Sevier County', 'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Warren County', 'Washington County', 'Wayne County',
       'Weakley County', 'White County', 'Williamson County',
       'Wilson County'], dtype=object)

In [44]:
HATN.urban.value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

In [45]:
HATN.analysis_value.describe()

count       91.000000
mean     45762.989011
std       6574.670462
min      30831.000000
25%      41105.500000
50%      45384.000000
75%      49698.500000
max      62641.000000
Name: analysis_value, dtype: float64

In [51]:
print('Costs for urban counties:')
print(HATN.loc[HATN.urban == 'Urban'].analysis_value.describe())
print('====================================')
print('Costs for rural counties:')
print(HATN.loc[HATN.urban == 'Rural'].analysis_value.describe())

Costs for urban counties:
count       38.000000
mean     45748.921053
std       7109.788921
min      32279.000000
25%      40452.750000
50%      45496.500000
75%      50734.500000
max      61541.000000
Name: analysis_value, dtype: float64
====================================
Costs for rural counties:
count       53.000000
mean     45773.075472
std       6232.724885
min      30831.000000
25%      41240.000000
50%      45384.000000
75%      48998.000000
max      62641.000000
Name: analysis_value, dtype: float64

In [52]:
CA = pd.read_csv('vanderbilt-data-essentials-cohort-2/data/mmd_cancer_data.csv')

In [53]:
CA.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [54]:
CA.shape

(3165, 17)

In [56]:
CA.state.unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING', 'PUERTO RICO'],
      dtype=object)

In [58]:
CA = CA.loc[CA.state == 'TENNESSEE']
CA.shape

(95, 17)

In [64]:
import pandas as pd

In [69]:
income_dict = pd.read_csv("vanderbilt-data-essentials-cohort-2/data/irs_county_2016.csv")

In [70]:
income_dict.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

In [71]:
income_dict.shape

(25536, 148)

In [83]:
income_dict.STATE.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [87]:
TN_income = income_dict.loc[income_dict.STATE == 'TN']

In [88]:
TN_income.head()

,STATE,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,N2,NUMDEP,ELDERLY,A00100,N02650,A02650,N02300,A02300
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894

In [92]:
TN_income.tail()

,STATE,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,N2,NUMDEP,ELDERLY,A00100,N02650,A02650,N02300,A02300
20515,TN,Wilson County,4,14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,5,9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,6,7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,7,10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,8,2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118

In [93]:
TN_income.shape

(768, 15)

In [90]:
TN_income_select = TN_income[['Total','Under $1','Between 1 and $10,000','Between 10,000 and $25,000','Between 25,000 and $50,000','Between 50,000 and $75,000','Between 75,000 and $100,000','Between 100,000 and $200,000','$200,000 or more']]
income_select.head()

KeyError: "None of [Index(['Total', 'Under $1', 'Between 1 and $10,000',\n       'Between 10,000 and $25,000', 'Between 25,000 and $50,000',\n       'Between 50,000 and $75,000', 'Between 75,000 and $100,000',\n       'Between 100,000 and $200,000', '$200,000 or more'],\n      dtype='object')] are in the [columns]"